[Desktop Entry]
Type=Application
Name=CopyQ
GenericName=Clipboard Manager
Comment=A cut and paste history utility
Exec="{{ .chezmoi.homeDir }}/Software/copyq/CopyQ-16.0.0-x86_64.AppImage"
Icon={{ .chezmoi.homeDir }}/.local/share/icons/hicolor/scalable/apps/copyq.svg
Terminal=false
Categories=Qt;Utility;
StartupNotify=true
