[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/tmux start-server

ExecStop=/home/morain/.config/tmux/scripts/tmux-service-stop.sh

[Install]
WantedBy=default.target
